@import './variables.scss';

.App {
  text-align: center;
  color: white;
  background-color: #79d1c3;
  font-family: $text-font;
}

main {
  display: flex;
  flex-direction: column;
  width: 95vw;
  margin: 0 auto;
  height: 100%;
  background-color: #79d1c3;

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 10px 30px;
  }
}